In [108]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 8.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [109]:
import pandas as pd
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import matplotlib.pyplot as plt
import openpyxl

In [261]:
conn = snowflake.connector.connect(
    account='JXGPFAR-REVOLT_PARTNER',
    user='USER_19',
    password='Rudsiq1234@',
    database='HACKATHON',
    warehouse='HACKATHON_WH',
    schema='TEAM_19',
    config_file='profiles.yml'
)
cursor = conn.cursor()

In [186]:

# Execute a sample query
query = "SELECT * FROM HACKATHON.DATA_SAMPLE.SAAS_SALES"
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Print results
columns = [desc[0] for desc in cursor.description]

# Create a DataFrame from the query results and column names
df = pd.DataFrame(results, columns=columns)

# Print the DataFrame

# Close the cursor and connection
cursor.close()
conn.close()

df.head()

,ROW_ID,ORDER_ID,ORDER_DATE,DATE_KEY,CONTACT_NAME,COUNTRY,CITY,REGION,SUBREGION,CUSTOMER,CUSTOMER_ID,INDUSTRY,SEGMENT,PRODUCT,LICENSE,SALES,QUANTITY,DISCOUNT,PROFIT
0,1,EMEA-2022-152156,2022-11-09,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,16GRM07R1K,261.9600,2,0.00,41.9136
1,2,EMEA-2022-152156,2022-11-09,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,QLIW57KZUV,731.9400,3,0.00,219.5820
2,3,AMER-2022-138688,2022-06-13,20220613,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,JI6BVL70HQ,14.6200,2,0.00,6.8714
3,4,EMEA-2021-108966,2021-10-11,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,DE9GJKGD44,957.5775,5,0.45,-383.0310
4,5,EMEA-2021-108966,2021-10-11,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,OIF7NY23WD,22.3680,2,0.20,2.5164

In [187]:
df2 = df.copy()

In [194]:
df1 = df.sort_values(by=['CUSTOMER_ID','INDUSTRY','ORDER_DATE'])


# min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
# min_order_date.head(10)
df1

,ROW_ID,ORDER_ID,ORDER_DATE,DATE_KEY,CONTACT_NAME,COUNTRY,CITY,REGION,SUBREGION,CUSTOMER,CUSTOMER_ID,INDUSTRY,SEGMENT,PRODUCT,LICENSE,SALES,QUANTITY,DISCOUNT,PROFIT
7656,7657,AMER-2020-120740,2020-04-15,20200415,Eric McLean,United States,New York City,AMER,NAMER,Abbott Laboratories,1001,Healthcare,Enterprise,OneView,E3YP2RB5CT,106.9600,2,0.00,31.0184
7657,7658,AMER-2020-120740,2020-04-15,20200415,Eric McLean,United States,New York City,AMER,NAMER,Abbott Laboratories,1001,Healthcare,Enterprise,SaaS Connector Pack,5C3W1ZADCH,187.7600,4,0.00,76.9816
7163,7164,EMEA-2020-122070,2020-04-22,20200422,Ryan Jackson,United Kingdom,Brighton,EMEA,UKIR,Abbott Laboratories,1001,Healthcare,Strategic,SaaS Connector Pack - Gold,883816BFYS,247.8400,8,0.00,121.4416
7164,7165,EMEA-2020-122070,2020-04-22,20200422,Ryan Jackson,United Kingdom,Brighton,EMEA,UKIR,Abbott Laboratories,1001,Healthcare,Strategic,ContactMatcher,5U2GTC4S2P,9.9120,3,0.20,3.3453
5354,5355,AMER-2020-113768,2020-05-13,20200513,Ryan Jackson,United States,New York City,AMER,NAMER,Abbott Laboratories,1001,Healthcare,Strategic,FinanceHub,F5NKA1QD9W,279.4560,6,0.20,20.9592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2246,AMER-2023-103380,2023-11-22,20231122,Andrew Sanderson,United States,Newark,AMER,NAMER,Banco Santander,1101,Finance,Enterprise,OneView,EHFJ4ZJDER,8.6200,1,0.00,2.2412
2246,2247,AMER-2023-103380,2023-11-22,20231122,Andrew Sanderson,United States,Newark,AMER,NAMER,Banco Santander,1101,Finance,Enterprise,Site Analytics,NRSIAYO5AG,659.9760,3,0.20,49.4982
6362,6363,AMER-2023-110443,2023-11-22,20231122,Evan Ince,Canada,Calgary,AMER,NAMER,Banco Santander,1101,Finance,SMB,ContactMatcher,2GZO6D1LOP,150.8000,5,0.20,56.5500
6363,6364,AMER-2023-110443,2023-11-22,20231122,Evan Ince,Canada,Calgary,AMER,NAMER,Banco Santander,1101,Finance,SMB,Big Ol Database,GSGY4BUIHS,1039.9920,1,0.20,103.9992
6364,6365,AMER-2023-110443,2023-11-22,20231122,Evan Ince,Canada,Calgary,AMER,NAMER,Banco Santander,1101,Finance,SMB,Support,0AWE9TQ48G,51.8400,8,0.00,24.8832

In [195]:
min_order_date = df1.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'min'})
min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
min_order_date.head(10)

                           ORDER_DATE_MIN
CUSTOMER_ID INDUSTRY
1001        Healthcare         2020-04-15
1002        Healthcare         2020-03-31
1003        Finance            2020-02-19
1004        Tech               2020-01-14
1005        Finance            2020-03-01
1006        Finance            2020-01-16
1007        Healthcare         2020-02-24
1008        Tech               2020-01-10
1009        Manufacturing      2020-03-03
1010        Communications     2020-03-11

In [196]:
max_order_date = df1.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'max'})
max_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MAX'}, inplace=True)
max_order_date.head(10)

                           ORDER_DATE_MAX
CUSTOMER_ID INDUSTRY
1001        Healthcare         2023-12-19
1002        Healthcare         2023-12-10
1003        Finance            2023-12-30
1004        Tech               2023-12-18
1005        Finance            2023-12-24
1006        Finance            2023-12-31
1007        Healthcare         2023-12-28
1008        Tech               2023-12-29
1009        Manufacturing      2023-12-25
1010        Communications     2023-12-22

In [197]:
df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
df_min_max_order_date

                           ORDER_DATE_MIN ORDER_DATE_MAX
CUSTOMER_ID INDUSTRY
1001        Healthcare         2020-04-15     2023-12-19
1002        Healthcare         2020-03-31     2023-12-10
1003        Finance            2020-02-19     2023-12-30
1004        Tech               2020-01-14     2023-12-18
1005        Finance            2020-03-01     2023-12-24
...                                   ...            ...
1097        Communications     2020-04-02     2023-12-09
1098        Transportation     2020-01-24     2023-12-30
1099        Finance            2020-01-12     2023-12-29
1100        Finance            2020-03-02     2023-12-24
1101        Finance            2020-03-11     2023-11-22

[99 rows x 2 columns]

In [200]:
df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
df_min_max_order_date['ORDER_DATE_MIN'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MIN'])
df_min_max_order_date['ORDER_DATE_MAX'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MAX'])


# Рассчитываем разницу между датами и преобразуем в дни (целое число)
df_min_max_order_date['Average_Livespan_1'] = (df_min_max_order_date['ORDER_DATE_MAX'] - df_min_max_order_date['ORDER_DATE_MIN']).dt.days
df_min_max_order_date['Average_Livespan_2'] = 365*3
df_min_max_order_date

,,ORDER_DATE_MIN,ORDER_DATE_MAX,Average_Livespan_1,Average_Livespan_2
CUSTOMER_ID,INDUSTRY,,,,
1001,Healthcare,2020-04-15,2023-12-19,1343,1095
1002,Healthcare,2020-03-31,2023-12-10,1349,1095
1003,Finance,2020-02-19,2023-12-30,1410,1095
1004,Tech,2020-01-14,2023-12-18,1434,1095
1005,Finance,2020-03-01,2023-12-24,1393,1095
...,...,...,...,...,...
1097,Communications,2020-04-02,2023-12-09,1346,1095
1098,Transportation,2020-01-24,2023-12-30,1436,1095
1099,Finance,2020-01-12,2023-12-29,1447,1095
1100,Finance,2020-03-02,2023-12-24,1392,1095
1101,Finance,2020-03-11,2023-11-22,1351,1095

In [199]:
# df_min_max_order_date['Retention_period_1'] = (df_min_max_order_date['ORDER_DATE_MAX'] - df_min_max_order_date['ORDER_DATE_MIN']).dt.days
df_min_max_order_date['No_orders_time'] = (df_min_max_order_date['ORDER_DATE_MAX'].max() - df_min_max_order_date['ORDER_DATE_MAX']).dt.days
# df_min_max_order_date.head()
# plt.figure(figsize=(10, 6))
# plt.hist(df_min_max_order_date['No_orders_time'], bins=20, edgecolor='black')  # Гистограмма с 20 бинами

# plt.grid(True)
# plt.show()
Retention_period_1 = df_min_max_order_date['No_orders_time'].quantile(0.8)
Retention_period_2 = 90
print(Retention_period_1, Retention_period_2)

27.0 90

In [193]:
#df_variant1 = df_min_max_order_date.copy()

In [192]:
df2 = df2.sort_values(by=['CUSTOMER_ID','INDUSTRY','ORDER_DATE'])
min_order_date2 = df.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'min'})
min_order_date2.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
min_order_date2.head(10)
max_order_date2 = df.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'max'})
max_order_date2.rename(columns={'ORDER_DATE': 'ORDER_DATE_MAX'}, inplace=True)
max_order_date2.head(10)

df_min_max_order_date2 = pd.concat([min_order_date, max_order_date], axis=1)
df_min_max_order_date2

                       ORDER_DATE_MIN ORDER_DATE_MAX
CUSTOMER_ID SEGMENT
1001        Enterprise     2020-04-15     2023-10-23
            SMB            2020-08-03     2023-10-15
            Strategic      2020-04-22     2023-12-19
1002        SMB            2020-03-31     2023-12-10
            Strategic      2020-08-12     2023-09-08
...                               ...            ...
1100        SMB            2020-08-05     2023-12-24
            Strategic      2020-03-02     2023-12-09
1101        Enterprise     2020-05-06     2023-11-22
            SMB            2020-03-11     2023-11-22
            Strategic      2020-08-24     2023-05-03

[263 rows x 2 columns]

In [272]:
def get_table_v1():
    
    conn = snowflake.connector.connect(
    account='JXGPFAR-REVOLT_PARTNER',
    user='USER_19',
    password='Rudsiq1234@',
    database='HACKATHON',
    warehouse='HACKATHON_WH',
    schema='TEAM_19',
    config_file='profiles.yml'
)
    cursor = conn.cursor()

    # Execute a sample query
    query = "SELECT * FROM HACKATHON.DATA_SAMPLE.SAAS_SALES"
    cursor.execute(query)

    # Fetch results
    results = cursor.fetchall()

    # Print results
    columns = [desc[0] for desc in cursor.description]

    # Create a DataFrame from the query results and column names
    df = pd.DataFrame(results, columns=columns)

    # Print the DataFrame

    # Close the cursor and connection
    cursor.close()
    conn.close()

    df.head()
    df2 = df.copy()
    df1 = df.sort_values(by=['CUSTOMER_ID','SEGMENT','ORDER_DATE'])


    # min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
    # min_order_date.head(10)
    df1

    min_order_date = df1.groupby(['CUSTOMER_ID','SEGMENT']).agg({'ORDER_DATE': 'min'})
    min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
    min_order_date.head(10)
    max_order_date = df1.groupby(['CUSTOMER_ID','SEGMENT']).agg({'ORDER_DATE': 'max'})
    max_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MAX'}, inplace=True)
    max_order_date.head(10)

    df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
    df_min_max_order_date
    df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
    df_min_max_order_date['ORDER_DATE_MIN'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MIN'])
    df_min_max_order_date['ORDER_DATE_MAX'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MAX'])


    # Рассчитываем разницу между датами и преобразуем в дни (целое число)
    df_min_max_order_date['Lifespan_1'] = (df_min_max_order_date['ORDER_DATE_MAX'] - df_min_max_order_date['ORDER_DATE_MIN']).dt.days
    Average_Livespan_1 = df_min_max_order_date['Lifespan_1'].mean()
    df_min_max_order_date
    # df_min_max_order_date['Retention_period_1'] = (df_min_max_order_date['ORDER_DATE_MAX'] - df_min_max_order_date['ORDER_DATE_MIN']).dt.days
    df_min_max_order_date['No_orders_time'] = (df_min_max_order_date['ORDER_DATE_MAX'].max() - df_min_max_order_date['ORDER_DATE_MAX']).dt.days
    # df_min_max_order_date.head()
    # plt.figure(figsize=(10, 6))
    # plt.hist(df_min_max_order_date['No_orders_time'], bins=20, edgecolor='black')  # Гистограмма с 20 бинами

    # plt.grid(True)
    # plt.show()
    Retention_period_1 = df_min_max_order_date['No_orders_time'].quantile(0.8)
    return Average_Livespan_1, Retention_period_1, df_min_max_order_date

In [232]:
def get_table_v2():
    
    conn = snowflake.connector.connect(
    account='JXGPFAR-REVOLT_PARTNER',
    user='USER_19',
    password='Rudsiq1234@',
    database='HACKATHON',
    warehouse='HACKATHON_WH',
    schema='TEAM_19',
    config_file='profiles.yml'
)
    cursor = conn.cursor()

    # Execute a sample query
    query = "SELECT * FROM HACKATHON.DATA_SAMPLE.SAAS_SALES"
    cursor.execute(query)

    # Fetch results
    results = cursor.fetchall()

    # Print results
    columns = [desc[0] for desc in cursor.description]

    # Create a DataFrame from the query results and column names
    df = pd.DataFrame(results, columns=columns)

    # Print the DataFrame

    # Close the cursor and connection
    cursor.close()
    conn.close()

    df.head()
    df2 = df.copy()
    df = df.sort_values(by=['CUSTOMER_ID','INDUSTRY','ORDER_DATE'])


    # min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
    # min_order_date.head(10)
    df1

    min_order_date = df.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'min'})
    min_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MIN'}, inplace=True)
    min_order_date.head(10)
    max_order_date = df.groupby(['CUSTOMER_ID','INDUSTRY']).agg({'ORDER_DATE': 'max'})
    max_order_date.rename(columns={'ORDER_DATE': 'ORDER_DATE_MAX'}, inplace=True)
    max_order_date.head(10)

    df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
    df_min_max_order_date
    df_min_max_order_date = pd.concat([min_order_date, max_order_date], axis=1)
    df_min_max_order_date['ORDER_DATE_MIN'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MIN'])
    df_min_max_order_date['ORDER_DATE_MAX'] = pd.to_datetime(df_min_max_order_date['ORDER_DATE_MAX'])


    # Рассчитываем разницу между датами и преобразуем в дни (целое число)
    Average_Livespan_2 = 365*3
    df_min_max_order_date
    # df_min_max_order_date['Retention_period_1'] = (df_min_max_order_date['ORDER_DATE_MAX'] - df_min_max_order_date['ORDER_DATE_MIN']).dt.days
    df_min_max_order_date['No_orders_time'] = (df_min_max_order_date['ORDER_DATE_MAX'].max() - df_min_max_order_date['ORDER_DATE_MAX']).dt.days
    # df_min_max_order_date.head()
    # plt.figure(figsize=(10, 6))
    # plt.hist(df_min_max_order_date['No_orders_time'], bins=20, edgecolor='black')  # Гистограмма с 20 бинами

    # plt.grid(True)
    # plt.show()
    Retention_period_2 = 90
    return Average_Livespan_2, Retention_period_2, df_min_max_order_date2

In [275]:
Average_Livespan_1, Retention_period_1, df1 = get_table_v1()
df1.head(20)

                       ORDER_DATE_MIN ORDER_DATE_MAX  Lifespan_1  \
CUSTOMER_ID SEGMENT
1001        Enterprise     2020-04-15     2023-10-23        1286
            SMB            2020-08-03     2023-10-15        1168
            Strategic      2020-04-22     2023-12-19        1336
1002        SMB            2020-03-31     2023-12-10        1349
            Strategic      2020-08-12     2023-09-08        1122
1003        Enterprise     2020-09-26     2023-09-25        1094
            SMB            2020-02-19     2023-12-30        1410
            Strategic      2020-03-17     2023-11-15        1338
1004        SMB            2020-01-14     2023-12-11        1427
            Strategic      2020-07-19     2023-12-18        1247
1005        SMB            2020-03-01     2023-12-15        1384
            Strategic      2020-03-11     2023-12-24        1383
1006        SMB            2020-01-16     2023-12-10        1424
            Strategic      2020-08-29     2023-12-31        1219
1007        Enterprise     2020-02-24     2023-09-06        1290
            SMB            2020-07-22     2023-12-25        1251
            Strategic      2020-05-30     2023-12-28        1307
1008        Enterprise     2020-07-05     2023-01-07         916
            SMB            2020-01-10     2023-12-01        1421
            Strategic      2020-03-21     2023-12-29        1378

                        No_orders_time
CUSTOMER_ID SEGMENT
1001        Enterprise              69
            SMB                     77
            Strategic               12
1002        SMB                     21
            Strategic              114
1003        Enterprise              97
            SMB                      1
            Strategic               46
1004        SMB                     20
            Strategic               13
1005        SMB                     16
            Strategic                7
1006        SMB                     21
            Strategic                0
1007        Enterprise             116
            SMB                      6
            Strategic                3
1008        Enterprise             358
            SMB                     30
            Strategic                2

In [276]:
Average_Livespan_2, Retention_period_2, df2 = get_table_v2()
df2.head(20)

                       ORDER_DATE_MIN ORDER_DATE_MAX
CUSTOMER_ID SEGMENT
1001        Enterprise     2020-04-15     2023-10-23
            SMB            2020-08-03     2023-10-15
            Strategic      2020-04-22     2023-12-19
1002        SMB            2020-03-31     2023-12-10
            Strategic      2020-08-12     2023-09-08
1003        Enterprise     2020-09-26     2023-09-25
            SMB            2020-02-19     2023-12-30
            Strategic      2020-03-17     2023-11-15
1004        SMB            2020-01-14     2023-12-11
            Strategic      2020-07-19     2023-12-18
1005        SMB            2020-03-01     2023-12-15
            Strategic      2020-03-11     2023-12-24
1006        SMB            2020-01-16     2023-12-10
            Strategic      2020-08-29     2023-12-31
1007        Enterprise     2020-02-24     2023-09-06
            SMB            2020-07-22     2023-12-25
            Strategic      2020-05-30     2023-12-28
1008        Enterprise     2020-07-05     2023-01-07
            SMB            2020-01-10     2023-12-01
            Strategic      2020-03-21     2023-12-29

In [245]:
!pip install seaborn
import seaborn as sns

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 9.9 MB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [255]:
for col in ['CUSTOMER_ID', 'INDUSTRY', 'SEGMENT','REGION']:
    Average_order_Value = df.groupby(col).agg({'ORDER_ID': 'count'})
    Average_order_Value
    sns.set(style="whitegrid")

    # Строим график с несколькими кривыми
    plt.figure(figsize=(10, 6))

    # Строим кривую y1
    sns.lineplot(x=col, y='SALES', data=df, label='Sales', marker='o')


# Настройка заголовка и осей
plt.xlabel('X', fontsize=12)
plt.ylabel('Y', fontsize=12)

# Отображаем легенду
plt.legend()

# Отображаем график
plt.show()

ValueError: Could not interpret value `Livespan_1` for `y`. An entry with this name does not appear in `data`.

In [258]:
df = pd.DataFrame(data)

# Список столбцов для группировки
columns = ['CUSTOMER_ID']

# Параметры для красивого оформления графика
palette = sns.color_palette('Set1', n_colors=len(columns))  # Цветовая палитра для различных линий
markers = ['o', 's', '^', 'x']  # Маркеры для каждой линии

# Построение графиков для каждого столбца
for i, col in enumerate(columns):
    plt.figure(figsize=(10, 6))
    
    # Группировка данных по текущему столбцу и подсчет среднего значения продаж
    grouped_data = df.groupby(col).agg({'ORDER_ID': 'mean', 'ORDER_ID':''})
    
    # Построение линейного графика с использованием цвета из палитры и маркера
    sns.lineplot(x=col, y='SALES', data=grouped_data, label=col, palette=[palette[i]], marker=markers[i])
    
    # Настройки заголовка и осей
    plt.title(f'Average Sales by {col}', fontsize=14)
    plt.xlabel(col, fontsize=12)
    plt.ylabel('Average Sales', fontsize=12)
    
    # Отображение легенды
    plt.legend()
    
    # Показать график
    plt.show()

ValueError: Could not interpret value `SALES` for `y`. An entry with this name does not appear in `data`.

In [263]:
# Converting Pandas dataframe to Snowflake dataframe
customer_df = session.create_dataframe(customer_df)
customer_df

NameError: name 'session' is not defined